
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
<aside class="col-md-6">
    <article class="gallery-wrap">
    <div class="img-big-wrap mainImage">
            <center>
           <img src={{product.images.url}} width="400" >
            </center>
    </div> 
</article><!-- img-big-wrap.// -->

    
    <ul class="thumb">
      <li>
        <a href="{{product.images.url}}" target="mainImage"><img src="{{product.images.url}}" alt="Product Image"></a>
        {% for  i in product_gallery %}
        <a href="{{i.image.url}}" target="mainImage"><img src="{{i.image.url}}" alt="Product Image"></a>
        {% endfor %}
      </li>

    </ul>
     <!-- gallery-wrap .end// -->
</aside>
            <main class="col-md-6 border-left">
        

    <article class="content-body">

    <h2 class="title">{{product.product_name}}</h2>

    <div class="mb-3">
        <var class="price h4">${{product.price}}</var>
    </div>

    <p>{{product.description}}</p>


    </article> <!-- product-info-aside .// -->
    </form>
    <form action= "{% url 'place_single_product_order'  product.id %}" method="POST">
        {% csrf_token %}
         <div class="form-row">
           <div class="col form-group">
             <label for="">Name</label>
             <input type="text" name="full_name" class="form-control" required>
           </div>

           <div class="col form-group">
            <label for="">Phone Number</label>
            <input type="text" name="phone" class="form-control" required>
          </div>



         </div>


         <div class="form-row">
           <div class="col form-group">
             <label for="">Wilaya</label>
             <input type="text" name="wilaya" class="form-control" required>
           </div>

           <div class="col form-group">
             <label for="">Address</label>
             <input type="text" name="address" class="form-control" >
           </div>

         </div>

         <div class="form-row">
           <div class="col form-group">
             <label for="">Order Note</label>
             <textarea type="text" name="order_note" rows="2" class="form-control" ></textarea>
           </div>

         </div>

        {% if product.variation_set.colors %}
        <div class="row">
            
            <div class="item-option-select">
                <h6>Choose Color</h6>
                 <select  name="color" class="form-control" required>
                    <option value="" disabled selected>Select</option>
                    {% for i in product.variation_set.colors %}
                   <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                   {% endfor %}

                 </select>
            </div>
        </div> 
        <!-- row.// -->
        {% endif %}
        
        {% if product.variation_set.sizes %}
        <div class="row">
            <div class="item-option-select">
                <h6>Choose Size</h6>
                 <select  name="size" class="form-control" required>
                    <option value="" disabled selected>Select</option>
                    {% for i in product.variation_set.sizes %}
                   <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                   {% endfor %}

                 </select>
            </div>
        </div> 
        <!-- row.// -->
        {% endif %}
       

       

     </div>
     <button type='submit' name='submit' class="btn btn-primary btn-block"> Place Order </button>
    </form> 
    
    <form class="" action="{% url 'add_cart' product.id %}" method="POST">
      {% csrf_token %}
      {% if product.variation_set.colors %}
            <div class="row">
                
                <div class="item-option-select">
                    <h6>Choose Color</h6>
                     <select  name="color" class="form-control" required>
                        <option value="" disabled selected>Select</option>
                        {% for i in product.variation_set.colors %}
                       <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                       {% endfor %}
    
                     </select>
                </div>
            </div> 
            <!-- row.// -->
            {% endif %}
            
            {% if product.variation_set.sizes %}
            <div class="row">
                <div class="item-option-select">
                    <h6>Choose Size</h6>
                     <select  name="size" class="form-control" required>
                        <option value="" disabled selected>Select</option>
                        {% for i in product.variation_set.sizes %}
                       <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                       {% endfor %}
    
                     </select>
                </div>
            </div> 
            <!-- row.// -->
            {% endif %}
    
            <hr>
            {% if product.stock <= 0 %}
            <h5 class= 'text-danger'>Out of stock</h5>
            {% else %}
    
            
            <button type="submit"  class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
            {% endif %}
    
          </form>  
  
  </div> <!-- card.// -->
 





        </aside>
       <!-- col.// -->
       
                
        
                
              
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    <br>


    </div> <!-- container .//  -->
    </section>

    {% endblock content %}
    <!-- ========================= SECTION CONTENT END// ========================= -->
